/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/eureka_web";

@theme {
  --font-sans: "IBM Plex Mono", sans-serif; 
}

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(15% 0 0);
  --color-base-200: oklch(12% 0 0);
  --color-base-300: oklch(10% 0 0);
  --color-base-content: oklch(90% 0 0);
  --color-primary: oklch(87% 0 0);
  --color-primary-content: oklch(26% 0 0);
  --color-secondary: oklch(87% 0 0);
  --color-secondary-content: oklch(26% 0 0);
  --color-accent: oklch(87% 0 0);
  --color-accent-content: oklch(26% 0 0);
  --color-neutral: oklch(87% 0 0);
  --color-neutral-content: oklch(26% 0 0);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(90% 0.058 230.902);
  --color-success: oklch(43% 0.095 166.913);
  --color-success-content: oklch(90% 0.093 164.15);
  --color-warning: oklch(47% 0.137 46.201);
  --color-warning-content: oklch(92% 0.12 95.746);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(88% 0.062 18.334);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(87% 0 0);
  --color-primary-content: oklch(26% 0 0);
  --color-secondary: oklch(87% 0 0);
  --color-secondary-content: oklch(26% 0 0);
  --color-accent: oklch(87% 0 0);
  --color-accent-content: oklch(26% 0 0);
  --color-neutral: oklch(87% 0 0);
  --color-neutral-content: oklch(26% 0 0);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(90% 0.058 230.902);
  --color-success: oklch(43% 0.095 166.913);
  --color-success-content: oklch(90% 0.093 164.15);
  --color-warning: oklch(47% 0.137 46.201);
  --color-warning-content: oklch(92% 0.12 95.746);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(88% 0.062 18.334);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Light.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Italic.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Medium.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-MediumItalic.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Thin.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-ThinItalic.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-BoldItalic.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-ExtraLight.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Bold.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-SemiBold.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-LightItalic.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}