<Layouts.app flash={@flash}>
  <div class="min-h-screen flex items-center justify-center">
    <div class="text-center">
      <span class="loading loading-spinner loading-xl"></span>
    </div>
  </div>
</Layouts.app>
